body{
    height: auto;
    margin: 0;
}
header{
    border-bottom:black 1px solid;
    background-color: #000000;
    width: 100%;
    height: auto;
}
section{
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 500px;
    clear: both;
}
footer{
    width: 100%;
    height: 225px;
    border-top: #000000 5px solid;
    background-color: #4f721b;
}


#header_picture{
    width: inherit;
}
#left_side{
    float: left;
    width: 25%;
    height: 500px;
    border-right: #000000 2px solid;
    background-color: #4f721b;
    overflow: auto;
}
#right_side{
    display: flex;
    float: left;
    width: 24.63%;
    height: 500px;
    border-left: #000000 2px solid;
    background-color: #4f721b;
    overflow: auto;
    margin: 0 auto;
    padding: 0;
}
#game_window{
    float: left;
    background: url("../images/static/craps.jpg") no-repeat center;
    background-size: cover;
    width: 50%;
    height: 500px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#start_button{
    display: none;
    margin: 0 auto;
    background-color: #aa9f1a;
    font-family: monospace, sans-serif;
    font-size: 19px;
    font-weight: bold;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    outline: none;
    box-shadow:
            0 1px 2px #fff, /*bottom external highlight*/
            0 -1px 1px #666, /*top external shadow*/
            inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
            inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
#name_input_button{
    display: none;
    margin: 0 auto;
    background-color: #aa9f1a;
    font-family: monospace, sans-serif;
    font-size: 19px;
    font-weight: bold;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    outline: none;
    box-shadow:
            0 1px 2px #fff, /*bottom external highlight*/
            0 -1px 1px #666, /*top external shadow*/
            inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
            inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
#roll_button{
    display: none;
    margin: 0 auto;
    background-color: #aa9f1a;
    font-family: monospace, sans-serif;
    font-size: 19px;
    font-weight: bold;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    box-shadow:
            0 1px 2px #fff, /*bottom external highlight*/
            0 -1px 1px #666, /*top external shadow*/
            inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
            inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
#reset_button{
    display: none;
    margin: 0 auto;
    background-color: #aa9f1a;
    font-family: monospace, sans-serif;
    font-size: 19px;
    font-weight: bold;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    box-shadow:
            0 1px 2px #fff, /*bottom external highlight*/
            0 -1px 1px #666, /*top external shadow*/
            inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
            inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
#rules_button{
    display: block;
    margin: 0 auto;
    background-color: #aa9f1a;
    font-family: monospace, sans-serif;
    font-size: 19px;
    font-weight: bold;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    box-shadow:
            0 1px 2px #fff, /*bottom external highlight*/
            0 -1px 1px #666, /*top external shadow*/
            inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
            inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
#results{
    display: none;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: burlywood;
}
td,th{
    border: 2px solid #000000;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #65985c;
}
tr:nth-child(odd) {
    background-color: #65985c;
}
#steps{
    display: none;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 400px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #4f721b;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top: 0; opacity:1}
}
.modal-header {
    padding: 2px 16px;
    background-color: #4f721b;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #4f721b;
    color: white;
}
#name_input_field{
    display: block;
    margin: 0 auto;
}
#confirm_player_name{
    display: block;
    margin: 0 auto;
    background-color: #aa9f1a;
    font-family: monospace, sans-serif;
    font-size: 19px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    box-shadow:
            0 1px 2px #fff, /*bottom external highlight*/
            0 -1px 1px #666, /*top external shadow*/
            inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
            inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
#dice_area{
    background-color: white;
    width: 60%;
    height: 60%;
    display: none;
    margin: 0 auto;
    border: black 1px solid;
}
.img_static{
    width: 100px;
    height: 115px;
    display: none;
    margin: 0 auto;
    vertical-align: middle;
    position: relative;
}
.img_animated{
    width: 125px;
    height: 125px;
    display: none;
    margin: 0 auto;
    vertical-align: middle;
    position: relative;
}
#upper_dice_area{
    margin-top: 25px;
}
